:root {
    --line-height: 100px;
}

.flex-container {
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    /* flex-wrap: wrap; */
    height: 300px;
    align-content: stretch;
    align-items: center;
}
.flex-element {
    background-color: rgba(38, 0, 255, 0.61);
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100px; */
    /* flex-basis: 100px; */
    flex: 1 100px;
    height: var(--line-height);
    border-radius: 50%;
    /* text-align: center;
    line-height: var(--line-height);   */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.srink_1 {
    flex-shrink: 1; 
}
.srink_2 {
    flex-shrink: 2; 
}
.srink_3{
    flex-shrink: 3; 
}
.grow_1 {
flex-grow: 1;
}
.grow_2 {
    flex-grow: 2;
    }
.grow_3 {
    flex-grow: 3;
}    
/* @media (max-width: 650px)  {
    .flex-container{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.flex-element{
    width: 80px;
    height:80px;
    font-size:40px;
}
} */