*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

html {
    /* Base font-size for 'rem' */
    font-size: 16px;
}

.wallpaper {
    background: no-repeat url('pics/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* font-family: 'Montserrat', sans-serif; */
    padding: 2rem;
}

.header h1 {
    font-size: 3rem;
    font-weight: 300;
}

.header h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

@media (max-width: 350px) and (orientation: portrait) {
    .header h1 {
        font-size: 2.5rem;
    }
    
    .header h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) and (orientation: landscape) {
    .header h1 {
        font-size: 2.5rem;
    }
    
    .header h3 {
        font-size: 1.2rem;
    }
}

.order {
    height: 100vh;
    position: relative;
}

.order-background {
    background: no-repeat url('pics/order-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.order-info {
    /* Position start */
    position: absolute;
    /* CSS absolute выравнивание по вертикали способ 1 старт */
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    width: 200px;
    height: 50px; */
    /* CSS absolute выравнивание по вертикали способ 1 конец */

    /* CSS absolute выравнивание по вертикали способ 2 старт */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* CSS absolute выравнивание по вертикали способ 2 конец */
    display: flex;
    flex-direction: column;
    color: white;
    /* font-family: 'Montserrat', sans-serif; */
    z-index: 9999;
}

.order-mask {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.order-button {
    height: 3rem;
    font-size: 1.2rem;
    border: 0;
    border-radius: 5px;
    background: linear-gradient(45deg, red, blue);
    color: white;
    cursor: pointer;
    transition: all .5s;
    position: relative;
}

.order-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all .5s;
    /* background: linear-gradient(45deg, rgb(200, 0, 0), rgb(0, 0, 200)); */
}

.order-button::before{
    content: attr(data-name);  
    position: relative;
    z-index: 1000;
}

.order-button:hover::after {
    background-color: rgba(0, 0, 0, 0.2);
    /* background: linear-gradient(45deg, rgb(200, 0, 0), rgb(0, 0, 200)); */
}

.order-button:active {
    box-shadow: 0 0 0 0.25rem rgb(83, 83, 253);
}

.order-button-amin{
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(45deg, red, blue);
    height: 3rem;
    font-size: 1.2rem;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all .5s;
    margin-top: 1rem;
    background-size: 150% 150%;
    /* background-position: 0% 50%; */
    animation: out 1s ease forwards;
}

.order-button-amin:hover{
     /* background-position: 100% 50%;  */
     animation: in 1s ease forwards;
}

 @keyframes in {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
} 

@keyframes out {
	from {
		background-position: 100% 50%;
	}
	to {
		background-position: 0% 50%;
	}
} 
.gradient{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #eed752, rgb(241, 0, 241), #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.gradient-info{
    /* display: flex;
    flex-direction: column; */
    text-align: center;
} 

.gradient h3 {
    font-size: 3rem;
    font-weight: 300;
    color: black;
}

.button-gradient{
    background: linear-gradient(45deg, rgba(255, 251, 0, 0.959), rgb(0, 255, 64));
    height: 3rem;
    font-size: 1.2rem;
    border: 1;
    border-color: black;
    border-radius: 5px;
    color: rgb(8, 8, 8);
    cursor: pointer;    
} 

.button-gradient:hover {
    background: linear-gradient(45deg, rgba(0, 4, 255, 0.959), rgb(247, 0, 255));
    border: 0;
    box-shadow: 0 0 0 0.25rem (45deg, rgba(0, 4, 255, 0.959), rgb(247, 0, 255));
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

