.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 500px;
    /* justify-content: space-between; */
}

.element {
    
    border: 2px solid rgb(224, 16, 16);
    width: 100px;
    height: 100px;
}
.logo{
     flex-grow: 1; 
     flex-shrink: 0;
    /* margin-right: auto; */
    
}
